[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
troposphere = "*"
awacs = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
access-control = {editable = true,path = "."}
google-auth = "*"

[requires]
python_version = "3.7"
